<form method="post" action="{{ path('app_flights_delete', {'id': flight.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce vol ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flight.id) }}">
    <button class="btn btn-danger">Supprimer un vol</button>
</form>
