{% extends 'base.html.twig' %}

{% block title %}Modifier un vol{% endblock %}

{% block body %}
    <h1>Modifier un vol</h1>

    {{ include('flights/_form.html.twig', {'button_label': 'Modifier'}) }}

    
    <a type="button" class="btn btn-success" href="{{ path('app_flights_index') }}">Retour à la liste des vols</a>


    {{ include('flights/_delete_form.html.twig') }}
{% endblock %}
