{% extends 'base.html.twig' %}

{% block title %}New Flights{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un nouveau vol</h1>

    {{ include('flights/_form.html.twig') }}


    <a type="button" class="btn btn-info" href="{{ path('app_flights_index') }}">Retour à la liste des vols</a>

{% endblock %}
